POSTGRES_DB=expenses_manager
POSTGRES_USER=expenses_user
POSTGRES_PASSWORD=change_me

TEST_POSTGRES_DB=expenses_manager_test
TEST_POSTGRES_USER=expenses_test_user
TEST_POSTGRES_PASSWORD=change_me

DATABASE_URL=postgresql+psycopg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}
TEST_DATABASE_URL=postgresql+psycopg://${TEST_POSTGRES_USER}:${TEST_POSTGRES_PASSWORD}@localhost:6543/${TEST_POSTGRES_DB}
